.header__lang-link {
    width: 30px;
    color: #FFF;
    position: absolute;
    right: 0;
    margin-top: 18px;
    line-height: 1.17;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        width: 22px;
        font-size: 18px;
    }
}
.header__lang-link_ru {
    right: 47px;
}