.lead {
    max-width: max-content;
    max-height: 1005px;
    margin: auto;
    margin-bottom: 92px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .lead {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin-bottom: 64px;
    }
}