.cover__title {
    max-width: 560px;
    max-height: max-content;
    margin: 245px auto 32px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        margin: 33px auto 16px;
        width: 288px;
        font-size: 2rem;
        line-height: 109%;
    }
}