.place__title {
    grid-row: 1;
    grid-column: 1;
    height: max-content;
    margin: 0;
    margin-bottom: 48px;
    max-width: 460px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
}